body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4b43b9;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4b43b9;
}

#mensagem {
    color: #321464;
    font-weight: bold;
}

#textoAlterado {
    color: #9372c9;
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
