body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
    background-image: url('imagem.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

h1 {
    color: #f0f0f0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4b43b9;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4b43b9;
}

label{
    color: #f0f0f0;
}

#mensagem {
    color: #f0f0f0;
    font-weight: bold;
}

#textoAlterado {
    color: #f0f0f0;
    font-style: italic;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}
p{
    color: #f0f0f0;
}

a#meuLink{
    color: #f0f0f0,
}

a:hover {
    text-decoration: underline;
}
